/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;500&family=Roboto+Condensed:wght@700&display=swap'); */
*{
    padding: 0;
    margin: 0;
    border: none;
    font-size: 15px;
    font-family: sans-serif;
}
 header{
    width: 100%;
    height: 70Px;
    background-color: black;
    border: 1px solid white;
} 
 body{
    background-color: rgb(234,234,234);
} 
main{
    width: 100%;
    height: 900px;
    border: 1px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    justify-items: center;

}
 #fb{

    margin-top: 30px;
    background-color: rgb(66,103,178);


} 
#fb button:hover{
    cursor: pointer;
    /* background-color: blue; */
}

#gl button:hover{ 

cursor: pointer;
background-color: rgb(66,103,178);

}

#fb  button{

    font-family: sans-serif;
    font-weight: bolder;
}

#gl  button{

    font-family: sans-serif;
    font-weight: bolder;
}

#first-layer{
    display: flex;
    border: 1px ;
    margin-top: 30px;
    background-color: white;
    border-radius: 10px;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
}
#Second-layer{
    margin-top: 20px;
    width: 542px;
    display: flex;
    margin-left: 31px;
    margin-right: 20px;
    flex-direction: column;
}
#api-part>div{
    margin: 12px;
}
#heding,h1{
/* font-weight: bold; */
font-size: 25px;
font-family: sans-serif;
margin-bottom: 10px;

}
#heding,p{
    color: rgb(92, 98, 105);
    font-weight: lighter;
    font-size: large;
    text-decoration: none;
    border-radius: 5px;
}
#inqury{
    font-size: 17px;
    border: 1px dashed orangered;
    border-radius: 7px;
    background-color: rgb(252,239,241);
}
a{
    text-decoration: none;
    color: rgb(13,126,221);
}
#one{
    text-decoration: none;
}
#inqury>p{
    padding: 10px;
}

 #fb>button{
    background-color: rgb(66,103,178);
} 
.fab{
    position: relative;
    left: 20px;
    top: 18px;
}
button{
    padding: 10px;
    width: 515px;
    margin-left: 0px;
    font-size: 17px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: -17px;
    border: none;
    border-radius: 7px;
}
#fb{
    border-radius: 7px;
}
 .sfb{
    color: white;
    font-size:bolder;
} 
.gfb{
    color: white;
    font-size:bolder;
} 
#gl{
    margin-top: 5px;
}
#gl>button{
    background-color: rgb(8,124,221);
} 
input{
    border-bottom: 0.5px solid rgb(148,148,148);
    outline: none;
    padding-top: 13px;
    overflow: hidden;

}
form>div{
    margin: 30px 0 0 9px;
}
.name{
    display: flex;
}
#secname{
    margin-left: 125px;
}
#lastname{
    padding-left: 7px;
}
.labels-name{
    position: relative;
    width: 141px;
    height: 40px;

}
.labels-name input{
    height: 27px;
    width: 508px;
}

#firstname,#lastname{
    width: 252px;
}

.labels-name span{
    position: absolute;
    bottom: 5px;
    left: 0%;
    width: 100%;
    height: 60%;
    pointer-events: none;
}
 .lable-content{
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all 0.3s ease;
    width: 200px;
    height: 20px;
    pointer-events: none;
    background-color: white;
    color: rgb(148,148,148);
    font-size: 20px;
} 

input:focus + .lable-content
{
    transform: translatey(-80%);
    font-size: 12px;
}
input:valid + .lable-content
{
    transform: translatey(-80%);
    font-size: 14px;
     color: blue;
    border: none;
}
 input:valid{
    border-bottom: 1px solid blue;
} 
input:hover{
    border-bottom: 2px solid black;
}

.btn button
{
    margin-top: 10px;
    background: none;
    border: 0.5px solid red;
    color: red;
    margin: auto;
    margin-top: 30px;
   font-weight: bold;
}
.btn button:hover{
    cursor: pointer;
    background-color:lightsalmon;
}
.notvalid{
    display: none;
    font-size: 12px;
    color: red;
    margin: 10px;
}
input:invalid + .notvalid{
    display: block;
    color: black;
}
#secspan{
margin-left:283px;
margin-top: -27px;
}
#lineOr
{
    text-align: center;
}
#li button{

    font-family:sans-serif ;
    font-weight: bold;
    background-color: rgb(8,124,221);
}

#li button:hover{

    cursor: pointer;
    background-color: rgb(66,103,178);
}
