*{
	margin: 0;
	padding: 0;
	font-family: 'poppins',sans-serif;
	box-sizing: border-box;
}
.container{
height: auto;
border: 1px solid transparent;
}
/* navbarcss */
 /* #nav_bar{
	height: 60px;
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
	margin-top: 1%;

  }
  #left_box{
	height: 50px;
	width: 45%;
	display: flex;

  }
  #left_box>div{
	  height: 45px;
	  margin: 1%;
	  
  }
  #icon_img > a >img{
	  height: 40px;
	  
  }
  #right_box{
	height: 50px;
	width: 15%;
	display: flex;
	float: left;
  }

#right_box>div{
	margin-left: 10%;
}
button{
	background-color: rgb(216, 19, 19);
	color: white;
	height: 35px;
	width: 85px;
	margin-bottom: 10%;
	border-radius: 6px;
	border: none;
	font-size: 17px;
	font-weight: 100;
}  */
/* navbarcss */


#top_headers{
height: 360px;
background: rgb(208, 218, 224);
border: 2px solid transparent;
 background-image: url('https://assets.interntheory.com/creative/Homepage-Banner.png');
 
}
#heading >button{
	background-color: transparent; 
	font-weight: 1000;
	 height: 30px; 
	 margin-bottom: 2%; 
	 width: 90px;
	 font-weight: 900;
	 color: white;
	 border: none;
	font-size: 25px;
	background-color: rgb(190, 10, 10);
}
#top_headers #top_headers_cont{
	border: 2px solid transparent;
	height: 280px;
	margin-top: 5%;

}
.text_nav{
	height: 100px;
	margin-top: 1%;
	width: 900px; ;
	margin: auto;	
	border: 2px solid transparent;
}
.text_nav >div{
	
	height:25px;
	text-align: center;
	color: white; 
	border: 2px solid transparent;


}
.text_nav {
font-size: 22px;

}
.text_nav #paira{
	font-size: 15px;
	border: 1px solid transparent;
	margin-top: 1%;
	
	}

.search_nav{
	height: 35%;
	border-radius: 10px;
	width: 85%;
	margin: 10%;
	margin-top: 0px;
	border: 2px solid transparent;
	background-color: white;

}
#search_nav_box{
	border: 1px solid transparent;
	display: flex;
	margin-top: 3%;
	

}



#select_dropdown{
	border: 2px solid transparent;
	width: 750px;
	display: flex;
	
}
#searcgbox{
	border: 1px solid transparent;
	width: 300px;
	display: flex;
	margin-left: -5%;
	
	
}
#cities{
	border: 1px solid transparent;
	height: 40px;
	width: 230px;
}
.myselectbox{
    border: 0px;
    padding: 5px 0px;
    margin: 0px 5px;
    width: 220px;
    background-color: white;
    border: 0px;
    border-bottom: 1px solid gray;
}



#or{
	margin-top: 2%;
}
 #search-input >button{
border: none;
background-color: rgb(206, 7, 7);
color: white;
height: 35px;
width: 70px;
font-weight: 700;

border-radius: 5px;
 }
 #search_btn >button:hover{
	 background-color: rgb(161, 4, 4);
 }

.mid_part{
	height: 360px;
	background-color: white;
	margin-top: 1%;
	display: flex;
	
	}
	.text_cont{
		height: 350px;
		width: 45%;
			
	}

	.icon_cont{
		height: 350px;
		width: 48%;
		display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
		background-color:white;
		margin-left: 3%;
	}
	 .mid_text{
	 height: 200px;
	 margin-top: 20%;
	 width: 95%;
	 float: right;
	 background-color: white;
	 
	}

	.work_experience{
		height:600px ;
		border: 1px solid  transparent;
		text-align: center;

		font-size: 17px;
		background-color: rgb(229, 252, 252);
		margin-top: 5%;
	}
	.work_experience> h1{
		margin-top: 30%;
	}
	.experience_box{
		height: 380px;
		width: 82%;
		margin-top: 2%;
		border: 1px solid transparent ; 
		margin: auto;
		display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.experience_box .exp_boxes{
		overflow: hidden;
		border: 1px solid rgb(238, 238, 238);
		border-radius: 4px;
		height: 180px;
		text-align: center;
		padding: 10px;
		color: white;
		display: flex;
		position: relative;
		-webkit-box-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		align-items: center;
		text-decoration: none;
		border: 1px solid transparent;
	 
	}
	.experience_box .exp_boxes >img{
		width: 250px;
	}
	
	.about_skilling{
		height:450px ;
		border: 1px solid transparent;
		background-color:whitesmoke;
		
	}
	
	.skillings{
     border: 1px solid transparent;
	 height: 300px;
	 width: 80%;
	 margin-left: 10%;
	 margin-top: 0;
	 display: grid;
	 grid-template-columns: 1fr 1fr 1fr ;
	 
	}
	
    .skillings_img{
		width: 95%;
		height: 220px;
		border: 1px solid transparent;
		border-radius: 4px;
	}
	 .skillings_img>img{
		width: 100%;
		height: 220px;

	} 

	   .consuntancy_growing_box{
		   border: 1px solid transparent;
		   height: 365px;
		   width: 100%;
		   display: grid;
	      grid-template-columns: 1fr 1fr ;
		  justify-content: flex-end;
	   }
	   .consuntancy_growing_box #consuntancy_growing_box_left{
       border: 1px solid transparent;
	   width: 300px;
	   height: 320px;
	   margin-left: 45%;
	   }
	   #consuntancy_growing_box_left>img{
        height: 320px;
		width: 270px;
	   }
      
	   .consuntancy_growing_box #consuntancy_growing_box_right{
		border: 1px solid transparent;
		width: 580px;
		height: 250px;
		margin-top: 12%;
		float: right;
		}

    .upper_footer{
    	width: 100%;
    	height: 280px;
    	background-color:rgb(243, 243, 245);
		border: 1px solid transparent;
		
    }
	
	.slider{
		max-width: 800px;
		border: 1px solid transparent;
		margin:40px auto;
		height:220px ;
		position: relative;
		overflow: hidden;
	}
	
	.slider .left-slide,.slider .right-slide{
	  position: absolute;
	  height: 40px;
	  width: 40px;
	  background-color: white;
	  border-radius: 10%;
	  color:gray;
	  font-size: 20px;
	  top:50%;
	  cursor: pointer;
	  margin-top: -20px;
	  text-align: center;
	  line-height: 40px;
	  /* margin-left: 10%; */
	  
	}
	.slider .left-slide:hover,.slider .right-slide:hover{
	 
	 background-color: ghostwhite;
	}
	
	.slider .left-slide{
		left: 30px;
	}
	.slider .right-slide{
		right: 30px;
	}
	.slider .slider-items .item img{
		max-width: 100%;
		
		
	}
	
	
	.slider .slider-items .item{
		display: none;
		position: relative;
	}
	.slider .slider-items .item .caption{
	position: absolute;
	width: 100%;
	height: 60px;
	bottom: 0px;
	left: 0px;
	
	line-height: 60px;
	text-align: center;
	color: #ffffff;
	font-size: 30px;
	
	}
	
	.slider .slider-items .item.active{
		display: block;
	}
	
	


	#footer_container{
		width: 100%;
		height: 500px;
		background-color: rgb(68,100,120);
	  
		
	}
	#footer_con{
		display: flex;
	}
	#line_in_footer{
		border: 0.5px solid white;
	
	
	}
	#footer_left{
		margin-left: 100px;
		margin-top: 70px;
	}
	
	#footer_midd{
		margin-left: 230px;
		margin-top: 70px;
	}
	
	#footer_right{
		margin-left: 230px;
		margin-top: 70px;
	}
	#footer_p{
		color: aliceblue;
	}
	#footer_h{
		color: aliceblue;
	
	}
	#footer_dis{
		display: flex;
	  margin-top: 20px;
	
	}
	#footer_dis >p{
	   margin-left: 70px;
	   color: white;
	
	}
	#footer_in{
		margin-left: 550px;
		color: white;
	}
	.fa-brands{
		 margin-right: 20px;
	}
	#icon{
		 margin-left: 130px;
		 margin-top: 100px;
		 color: white;
		 
	}
     

  /*  */
 